/* Variable Styles */
:root {
  --main-color: white;
  --bg-color: white;
  --text-color: #005eb8;
  --bg2-color: #fcb900;
  --bg3-color: #00a9e0;
  --bg4-color: #b4d9e5;
}

/* Widely Used Class Names */
.header1 {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  color: var(--text-color);
}

.header2 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: var(--text-color);
}

.text {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  color: var(--text-color);
}

/* Course Cards Styling */
.cardHeader1 {
  font-size: 1.1rem;
  font-weight: 800;
  text-align: center;
  color: var(--text-color);
  text-align: left;
  padding-left: 1rem;
}

.cardHeader2 {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  color: var(--text-color);
  text-align: left;
  padding-left: 1rem;
}

.cardText {
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
  color: var(--bg-color);
  text-align: left;
  padding-left: 1rem;
}

.courses_Container_Parent {
  width: 100%;
  height: fit-content;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  gap: 2rem;
}

.course_Card_Container{
  width: 15rem;
  height: fit-content;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  margin: 1rem auto 1rem auto;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.413);
}

.course_Title_Container {
  background-color: white;
  border-bottom: 2px solid var(--bg2-color);
}

.course_Room_Container {
  background-color: var(--bg3-color);
}

.course_Time_Container {
  background-color: var(--bg3-color);
}

.course_Actions_Container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  gap: 1rem;
  background-color: var(--main-color);
  border-top: 2px solid var(--bg2-color);
}

.course_Actions_Container button {
  width: 100px;
  font-weight: 800;
}

input {
  padding: .5rem;
  font-size: 0.8rem;
  background-color: var(--bg-color);
  border: none;
  border-bottom: 2px solid #005eb8;
  border-left: 1px solid rgba(0,0,0,.2);
  border-top: 1px solid rgba(0,0,0,.2);
  border-right: 1px solid rgba(0,0,0,.2);
}

.categoryDropDown {
  width: 120px;
  height: 35px;
}

form input,
form .categoryDropDown,
form button {
  margin-left: 10px;
  margin-bottom: 10px;
  font-weight: 505;
}

table button {
  margin-left: 10px;
}

/* Styling For Login Form Elements */
.notLoggedInContainer {
  background-color: aliceblue;
  padding-top: 1rem;
  padding-bottom: 1rem;
  left: 0;
  width: 100%;
  height: fit-content;
  position: relative;
  justify-content: center;
  border-bottom: 2px solid var(--bg2-color);
}

.loginForm {
  padding-top:1rem;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

.loginButton {
  background-color: var(--bg2-color);
  color: var(--text-color);
  width: 80px;
  height: 40px;
  border-radius: 10px;
  border: none;
  transition: all 0.3s ease-in-out;
}

.loginButton:hover {
  border-radius: 0;
  background-color: var(--text-color);
  color: white;
}

.logoutContainer {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: aliceblue;
}

.logoutButton {
  right: 0;
  z-index: 5;
  position: absolute;
  background-color: var(--bg2-color);
  color: var(--text-color);
  width: 80px;
  height: 40px;
  border-radius: 0;
  border: none;
  transition: all 0.3s ease-in-out;
}

.logoutButton:hover {
  background-color: var(--bg3-color);
  color: white;
}


button {
  background-color: var(--bg2-color);
  color: var(--text-color);
  width: 60px;
  height: 30px;
  border-radius: 10px;
  border: none;
  transition: all 0.3s ease-in-out;
}

button:hover {
  border-radius: 0;
  background-color: var(--text-color);
  color: white;
}

.formInput {
  padding: .5rem;
  font-size: 1rem;
  background-color: var(--bg-color);
  border: none;
  border-bottom: 2px solid #005eb8;
  border-left: 1px solid rgba(0,0,0,.2);
  border-top: 1px solid rgba(0,0,0,.2);
  border-right: 1px solid rgba(0,0,0,.2);
}

/* Tables and Data Container */
.dataContainer{
  background-color: #005fb879;
  text-align: center;
  width: 100%;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 5rem;
  border-bottom: 2px solid #005eb8;
}

.dataContainer .header2 {
    color: aliceblue;
}

.dataContainer table {
  margin: auto;
  background-color: var(--main-color);
  border: transparent;
}

.dataContainer thead {
  font-size: 1.1rem;
  background-color: #005fb879;
  border-bottom: 4px solid var(--bg2-color);
}


/* Media Queries */
@media screen and (max-width: 800px) {
  .notLoggedInContainer {
    gap: 0.1rem;
  }
  .formInput {
    padding: .2rem;
  }
}