/* Variable Styles */
:root {
    --main-color: white;
    --bg-color: white;
    --text-color: #005eb8;
    --bg2-color: #fcb900;
    --bg3-color: #00a9e0;
    --bg4-color: #b4d9e5;
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px;
    border-radius: 4px;
    z-index: 1000;
    animation: slideIn 0.3s ease-out;
}
  
.notification.success {
    background-color: #4caf50;
    color: aliceblue;
}
  
.notification.error {
    background-color: #f44336;
    color: aliceblue;
}
  
.notification-content {
    display: flex;
    align-items: center;
    gap: 10px;
}
  
.notification-message {
    font-size: 0.8rem;
}
  
.notification-close {
    width: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 0;
    margin-left: 10px;
}
  
/* Animation */
@keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}
  
.show {
    display: block;
}
  